.vscode
*/.vscode
*.exe
*.zip
*.pdf
*.sln
# https://www.toptal.com/developers/gitignore/

# --- RUST ---- 
# Ignore the target directory 
target/
Cargo.lock
Cargo.toml

# --- JAVA ---- 
# Ignore build output directories
1_Computer_language/4_java/*/lib
1_Computer_language/4_java/*/README.md
bin/
build/
out/

# --- Csharp ---- # Your C# section is fine!
1_Computer_language/5_csharp/*
!1_Computer_language/5_csharp/*.cs